:root{
	--link-color: #2c303e;
	--link-hover-color: #00c867 ;
	--heading-color: #1c3354;
	--btn-color: #00c867;
	--paragraph-color: #7b8491;
	--bg-color: #f5f8fa;
	--heading-size: 50px;
	--sub-heading-size: 45px;
	--paragraph-size: 15px;
	--link-size: 14px;
	--btn-size: 15px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
body{
	font-family: 'Poppins', sans-serif;
}
/* Header CSS Start*/
.header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}
.header img{
	margin: 0px;
	padding: 0px;
}
.header ul.menu_bar{
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.header ul.menu_bar li{
	display: inline-block;
	list-style-type: none;
	position: relative;
}
.header ul.menu_bar li a{
	color: var(--link-color);
	font-size: var(--link-size);
	text-decoration: none;
	text-transform: uppercase;
	padding: 40px 20px;
	display: block;
	transition: .6s;
}
.header ul.menu_bar li a:hover{
	color: var(--link-hover-color);
}
.header ul.menu_bar li ul.submenu{
	transition: .5s;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	margin: 0px;
	padding: 0px;
	text-align: left;
	border-top: 3px solid var(--btn-color);
	border-radius: 5px;
	box-shadow: 0px 10px 30px 0px rgba(0, 3, 143, 0.1);
}
.header ul.menu_bar li ul.submenutwo{
	left: 100%;
	top: -7%;
}
.header ul.menu_bar li:hover > ul.submenu{
	visibility: visible;
	opacity: 1;
}
.header ul.menu_bar li ul.submenu li{
	display: block;
	min-width: 220px;
	background-color: white;
	border-bottom: 1px solid var(--btn-color);
}
.header ul.menu_bar li ul.submenu li:last-child{
	border-bottom: none;
}
.header ul.menu_bar li ul.submenu li a{
	display: block;
	padding: 10px 15px 10px 15px;
}
a.mybtn{
	color: var(--btn-color);
	font-size: var(--btn-size);
	border: 1px solid var(--btn-color);
	border-radius: 20px;
	padding: 12px 45px;
	font-weight: 600;
	text-transform: uppercase;
}
a.mybtn:hover{
	color: white;
	background-color: var(--btn-color);
}
/* Header CSS End*/
/* Slider Hrea Start */
.slider{
	min-height: 850px;
	background-color: var(--bg-color);
	display: flex;
	align-items: center;
	position: relative;
}
.slider .shape{

}
.slider .shape img.one{
	width: 50px;
	position: absolute;
}
.slider .shape img.two{
	width: 40px;
	position: absolute;
	top: 75%;
}
.slider .shape img.three{
	width: 50px;
	position: absolute;
	left: 85%;
    top: 15%;
}
.slider .shape img.four{
	width: 50px;
    position: absolute;
    left: 50%;
    top: 80%;
}
.slider .shape img.five{
	width: 50px;
    position: absolute;
    left: 36%;
    top: 47%;
}
.slider .shape img.six{
	width: 50px;
    position: absolute;
    left: 90%;
    top: 80%;
}

.slider h2{
	color: var(--heading-color);
	font-size: var(--heading-size);
	font-weight: bold;
	line-height: 60px;
}
.slider h2 span{
	color: var(--btn-color);
	display: block;
}
.slider p{
	color: var(--paragraph-color);
	font-size: var(--paragraph-size);
	margin: 30px 0px;
	line-height: 28px;
} 
.slider img{
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.slider a.mybtn{
	text-transform: uppercase;
	padding: 20px 40px;
	border-radius: 50px;
	font-size: 15px;
	width: 200px;
	color: white;
	background-image: -moz-linear-gradient( 0deg, rgb(0,200,103) 1%, rgb(0,227,161) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(0,200,103) 1%, rgb(0,227,161) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(0,200,103) 1%, rgb(0,227,161) 100%);
}
/* Slider Hrea End */
/* Work Start*/
.work{
	padding: 100px 0px;
	position: relative;
}
.work .heading{
	text-align: center;
	padding-bottom: 40px;
}
.work .heading h2{
	color: var(--heading-color);
	font-size: var(--heading-size);
}
.work .heading p{
	color: var(--paragraph-color);
	font-size: var(--paragraph-size);
}
.work .work-box{
	 box-shadow: 0px 10px 30px 0px rgba(0, 3, 143, 0.1);
	 padding: 20px;
	 background-color: white;
}
.work .work-box img{}
.work .work-box h3{
	font-size: 22px;
	color: var(--heading-color);
}
.work .work-box p{
	font-size: var(--paragraph-size);
	color: var(--paragraph-color);
	padding-top: 15px;
}
.work .work-box a.read-more{
	color: var(--heading-color);
	font-size: var(--paragraph-size);
	text-decoration: none;
	transition: .6s;
	position: relative;
}
.work .work-box a.read-more:hover{
	color: var(--btn-color);
}
.work .work-box a.read-more:after{
	background-color: #5BE4FD;
    height: 10px;
    width: 6px;
    position: absolute;
    content: "";
    top: 30%;
    left: 104%;
}
.work img.shape{
	top: 20%;
    left: 58%;
	position: absolute;
}
/* Work End*/
 /*Start Easy To Access */
 .easy{
 	padding: 100px;
 }
 .easy img.left{
 	width: 100%;
 	text-align: left;
 }
 .easy h2{
 	color: var(--heading-color);
 	font-size: var(--heading-size);
 	padding: 15px 0px;
 }
  .easy h2 span{
  	display: block;
  }
 .easy p{
 	color: var(--paragraph-color);
 	font-size: var(--paragraph-size);
 	line-height: 24px;
 }
 .easy a.mybtn{
	text-transform: uppercase;
	padding: 20px 40px;
	border-radius: 50px;
	font-size: 15px;
	width: 200px;
	color: white;
	background-image: -moz-linear-gradient( 0deg, rgb(0,200,103) 1%, rgb(0,227,161) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(0,200,103) 1%, rgb(0,227,161) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(0,200,103) 1%, rgb(0,227,161) 100%);
}
 /*End Easy To Access */
 /*Start Feature */
 .feature{
 	padding: 100px;
 }
 .feature .heading{
 	text-align: center;
 }
 .feature .heading h2{
 	color: var(--heading-color);
 	font-size: var(--heading-size);
 }
 .feature .heading p{
 	color: var(--paragraph-color);
 	font-size: var(--paragraph-size);
 }
 .feature .box{
 	background-color: white;
 	padding:15px;
 	text-align: center;
 }
 .feature .box .icon{}
 .feature .box .text{}
 .feature .box .text h3{
 	font-size: 22px;
 	color: var(--heading-color);
 }
  .feature .box .text p{
  	padding-top: 10px;
  	color: var(--paragraph-color);
  	font-size: var(--paragraph-size);
  }
 /*End Feature */
 /*Start Effortlessly */
 .effortlessly{
 	padding: 100px 0px;
 }
 .effortlessly h2{
 	color: var(--heading-color);
 	font-size: var(--heading-size);
 	padding: 20px 0px;
 }
 .effortlessly p{
 	color: var(--paragraph-color);
 	font-size: var(--paragraph-size);
 }
 .effortlessly img.left{}
 .effortlessly img.right{
 	width: 100%;
 }
  .effortlessly a.mybtn{
	text-transform: uppercase;
	padding: 20px 40px;
	border-radius: 50px;
	font-size: 15px;
	width: 200px;
	color: white;
	background-image: -moz-linear-gradient( 0deg, rgb(0,200,103) 1%, rgb(0,227,161) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(0,200,103) 1%, rgb(0,227,161) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(0,200,103) 1%, rgb(0,227,161) 100%);
}
 /*End Effortlessly */
 /* Start Pricing */
 /* End Pricing */


